In [1]:
import pandas as pd

In [2]:
son = pd.read_csv('data/son_main_data.csv')
salah = pd.read_csv('data/salah_main_data.csv')

In [3]:
son.head()

           Statistic Per 90  Percentile
0  Non-Penalty Goals   0.69        99.0
1               npxG   0.49        98.0
2        Shots Total   2.57        75.0
3            Assists   0.21        55.0
4                 xA   0.24        82.0

In [4]:
salah.head()

           Statistic Per 90  Percentile
0  Non-Penalty Goals   0.60        97.0
1               npxG   0.56        99.0
2        Shots Total   4.18        99.0
3            Assists   0.36        91.0
4                 xA   0.30        93.0

In [6]:
son = son.set_index("Statistic")
salah = salah.set_index("Statistic")

In [7]:
son.head()

                  Per 90  Percentile
Statistic
Non-Penalty Goals   0.69        99.0
npxG                0.49        98.0
Shots Total         2.57        75.0
Assists             0.21        55.0
xA                  0.24        82.0

In [8]:
salah.head()

                  Per 90  Percentile
Statistic
Non-Penalty Goals   0.60        97.0
npxG                0.56        99.0
Shots Total         4.18        99.0
Assists             0.36        91.0
xA                  0.30        93.0

In [23]:
stats = list(son.index)
stats

['Non-Penalty Goals',
 'npxG',
 'Shots Total',
 'Assists',
 'xA',
 'npxG+xA',
 'Shot-Creating Actions',
 'Passes Attempted',
 'Pass Completion %',
 'Progressive Passes',
 'Progressive Carries',
 'Dribbles Completed',
 'Touches (Att Pen)',
 'Progressive Passes Rec',
 'Pressures',
 'Tackles',
 'Interceptions',
 'Blocks',
 'Clearances',
 'Aerials won']

In [24]:
# Compare Total Shots Attempted
ts_son = son.loc['Shots Total']['Per 90']
npg_son = son.loc['Non-Penalty Goals']['Per 90']
ts_salah = salah.loc['Shots Total']['Per 90']
npg_salah = salah.loc['Non-Penalty Goals']['Per 90']

In [25]:
ts_son, npg_son

('2.57', '0.69')

In [26]:
ts_salah, npg_salah

('4.18', '0.60')

In [ ]:
# From above we can see salah wasted more shots per 90 mins